<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles4.css">
</head>
<body>
    <fieldset>
        <legend>Update New Product</legend>
        <div class="container">
    <form action="/update_product" method="POST">
        <div class="form">
        <label for="codedata">Batch number :</label>
        <input type="text" name="codedata" list="options" id="serial-no" required>
            <datalist id="options">
                <option value="code1">
                <option value="code2">
                <option value="code3">
            </datalist><br>
        
        <label for="amountdata">Quantity Purchased:</label>
        <input type="number" name="amountdata"><br>

        <label for="buycost">MRP:</label>
        <input type="number" name="buycost" pattern="^\d+(\.\d{1,2})?"><br>
            
        <label for="sellcost">Manufacturing Year:</label>
        <input type="number" name="sellcost" pattern="^\d+(\.\d{1,2})?"><br>
        
        <label for="product_name">product name :</label>
        <input type="text" name="product_name"><br>

        <label for="product_buy">Manufacturing Location:</label>
        <input type="text" name="product_buy"><br>
        

        <div class="submit" id="sub"><input type="submit" value="Add product"></div>
        </div>
</form>

<div class="table">
    <table border="1">
        <tr>
            <th>Manufacturing Location</th>
            <th>Product Name</th>
            <th>Product Price </th>
            <th>In Stock Quantity</th>
            <th>Manufacturing Year</th>
            <th>Batch Number</th>
        </tr>
        {% for row in result %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
</div>

<form action="/index" method="POST">
    <div class="home"><input type="submit" value="Back"></div>
</form>
</fieldset>
</body>
</html>
